	
	*{
		padding: 0px;
		margin: 0px;
	}

	.box{
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
	}

	html{
		background: #333;
		color: #333;
	}

	.clear{
		clear: both;
	}

	.wrapper{
		text-align: center;
	}

	.section{
		position: relative;
		margin: auto;
		text-align: left;
		width: 960px;
		padding: 10px;
	}		

	/**
		Header
	*******/

	header{
		background: rgba(238,238,238,0.9);
		position: fixed;
		top: 0px;
		width: 100%;
		z-index: 1;
	}

	header h1{
		font-size: 32px;
	}

	header menu{
		position: absolute;
		right: 0px;
		top: 0px;
	}

	header menu ul li{
		float: left;
		margin-right: 10px;
	}

	header menu ul li a{
		display: block;
		padding: 10px;
		background: #ccc;
	}

	header menu .trigger{
		background: #ccc;
		position: absolute;
		width: 30px;
		height: 30px;
		top: -30px;
		right: 0px;
		text-align: center;
		padding-top: 6px;
		display: none;
		cursor: pointer;
	}	

	/**
		Intro
	*******/

	.intro img{
		display: block;
	}

	.hero{
		margin: auto;
		width: 1024px;
		position: relative;
		text-align: left;
		background: #fff;
	}

	.hero img{
		width: 100%;
	}

	.quote{
		position: absolute;
		bottom: 40px;
		left: 42px;
		width: 380px;
	}
	.quote h2{
		font-size: 32px;
	}

	/**
		Article
	*******/

	article .section{
		min-height: 350px;
	}

	article{
		background: #fff;
	}

	article h2{
		font-size: 22px;
	}

	footer a{
		color: #fff;
		text-decoration: none;
	}

	/* #Media Queries
	================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 1025px) {
		.hero{
			width: 100%;
		}
		.slide{
			width: 100%;
		}
		.quote{
			padding: 10px;
			left: 0px;
			bottom: 0px;
		}		
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		.section{
			width: 100%!important;
		}
	}

	@media only screen and (min-width: 767px){
		#toggle{
			display: block!important;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		header h1{
			font-size: 26px;
		}
		header menu{
			position: relative;
		}
		header menu ul{
			display: none;
		}
		header menu ul li{
			float: none;
			margin: 0px;
		}
		header menu .trigger{
			display: block;
		}
		.quote{
			position: static;
			width: auto;
		} 
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}